@model Chef
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-dark">
                <a class="navbar-brand" href="#">Menu By Restaurant</a>
                <a href="/" class="btn btn-primary">Home</a>
            </nav>
        </div>
        <div class="col-lg-12 text-center">
            <h1>Add A Chef</h1>
            <p>
            <a href="/add" class="btn btn-primary">Add a Chef</a>
            </p>
            <hr>
        </div>
        <form asp-action="Create" method="post">
        <div class="col-lg-3 form-group">
            <p>
                <p><span asp-validation-for="FirstName" class="text-danger"></span></p>
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control">
            </p>
            <p>
                <p><span asp-validation-for="LastName" class="text-danger"></span></p>
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control">
            </p>
        </div>
        <div class="col-lg-3 form-group">
            <p>
                <p><span asp-validation-for="DOB" class="text-danger"></span></p>
                <label asp-for="DOB"></label>
                <input asp-for="DOB" class="form-control">
            </p>
            <p>
                <input type="submit" class="btn btn-success" value="Add Chef">
            </p>
        </div>
        </form>
        
    </div>
</div>